.page {
    /* margin-top: 20px; */
}


.nav-location {
    display: flex;
    margin-top: 20px;
}

.nav-location__link>a {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 28px;
    /* identical to box height, or 255% */

    letter-spacing: 0.3px;

    color: #737B7D;
}

/* .nav-location__link>a::before {
    content: '\b';
} */


.nav-location__link>a::after {
    content: '\b/\b';
}

.nav-location__link:last-child>a:after {
    content: '';

}

.nav-back {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.3px;

    color: #333333;
    margin-top: 15px;
    margin-bottom: 10px;
}


.cart {
    padding-bottom: 40px;
}

.container {}

.cart__title {}

.cart__wrapper {
    width: 100%;
    justify-content: space-between;
    margin-top: 35px;
    display: flex;
}

.cart__list {
    width: 100%;
}

.cart__list-header {
    display: flex;
    padding: 0px 42px;
    justify-content: space-between;
}

.header-cart {}

.header-cart__main {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.3px;

    color: #333333;
}

.header-cart__second {
    display: flex;
    position: relative;
}

.header-cart__second-item {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.3px;

    color: #B5B5B9;

}

.header-cart__second-item:first-child {}


/* .cart__list_price-position {
    position: absolute;
    right: 382px;
    margin-right: 74px;
}

.cart__list_count-position {
    margin-right: 84px;
}

.cart__list_amount-position {
    margin-right: 84px;
} */

.cart__list-header-divider {
    border-bottom: 1px solid #F3F3F3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart__list-items {}

.cart__list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding: 15px 20px;
    align-items: center;
    position: relative;
}

.cart__list-item:not(:last-child) {
    margin-bottom: 10px;
}


/* .cart__list-item::after {
    position: absolute;
    content: '';
    background-image: url('/img/cart/remove-button.svg');
    background-repeat: no-repeat;
    background-position: top 0 left 0;
    background-size: contain;
    width: 10px;
    height: 10px;
    cursor: pointer;
    top: 5px;
    right: 5px;
} */

.cart__list-item:hover {
    box-shadow: 0px 4px 24px #E5E5E5;
    border-radius: 10px;
}

.item-cart {}

.item-cart__main {
    display: flex;
}

.item-cart__main>img {
    margin-right: 20px;

    width: 90px;
    height: 90px;
}


.item-cart__description>* {
    margin-top: 5px;

}

.description-cart {}

.desciption-cart__number {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}

.desciption-cart__name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #333333;

}

.item-cart__details {
    display: flex;

}

/* .item-cart__details>* {
    width: 10vw;
} */

.details-item-cart__favorite {
    width: 18px;
    margin-top: -35px;
    cursor: pointer;
}


.details-item-cart {}

.details-item-cart__price {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.3px;

    color: #333333;
    margin-right: 43px;
}

.details-item-cart__price,
.header-cart__second-item:nth-child(1) {
    margin-right: 43px;
}

.details-item-cart__count,
.header-cart__second-item:nth-child(2) {
    margin-right: 43px;
}

.details-item-cart__amount,
.header-cart__second-item:nth-child(3) {
    margin-right: 43px;
}

.header-cart__second-item:nth-child(1) {
    width: 60px;
}

.header-cart__second-item:nth-child(2) {
    width: 110px;
}

.header-cart__second-item:nth-child(3) {
    width: 100px;
}




.details-item-cart__amount {
    /* margin-right: 42px; */

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    letter-spacing: 0.3px;

    color: #333333;

}

.details-item-cart__amount>.pi-bonus {
    margin-top: 6px;
}

.details-item-cart__amount-bonus {}

.amount-bonus {}

.amount-bonus__amount {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */


    color: #E74C3C;
}

.amount-bonus__currency {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 14px;
    /* identical to box height, or 156% */


    color: rgba(115, 123, 125, 0.8);

}

.details-item-cart__favorite {}


.cart__info {
    width: 19%;
    margin-left: 16px;


}

.cart__info-about-cart {
    background: #F5F5F6;
    border-radius: 10px;
    padding: 20px 12px;
}

.cart__info-about-cart>h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    color: #333333;
    margin-bottom: 10px;
}

.cart__info-about-cart>h3 {

    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 145% */


    color: #333333;
    margin-bottom: 15px;
}

.cart__info-about-cart>h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 14px;
    /* identical to box height, or 156% */


    color: rgba(115, 123, 125, 0.8);

    margin-top: 5px;
    margin-bottom: 20px;
}


.cart__info-input {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.3px;

    place: #B5B5B9;

    padding: 5px 0px;

    background-color: inherit;
    border-bottom: 1px solid #B5B5B9;
}


.cart__info-input::placeholder {
    color: #B5B5B9;

}

.cart__info-input:first-of-type {
    margin-bottom: 20px;
}

.details-item-cart__price {}

.cart__info-about-buttons {
    width: 100%;
    margin-top: 5px;
}

.cart__info-about-buttons>div {
    display: flex;
    justify-content: center;
}

/* favorite page */
.pi-header {
    flex-direction: row !important;
}

.status {
    margin-right: 20px;
    margin-left: 20px;
}

.favorite__content {
    display: flex;
}

.favorite__items {
    width: 100%;
    padding-top: 35px;
}

.favorite__count {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.3px;

    color: #737B7D;
}

.pi-like {
    width: 19px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.pi-remove {
    position: absolute;
    top: 20px !important;
    right: 20px !important;
}

.pi-cart {
    margin-right: 110px;
    width: 48px !important;
    height: 32px !important;
}

.pi-price {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    margin-right: 70px;

}

.pi-header {
    margin-top: 8px;
}
.nav-back a{
    color: inherit;
}
.modal-order {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 9999; /* Сидеть на вершине */
  padding-top: 100px; /* Расположение коробки */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант  */
  background-color: rgba(0, 0, 0, 0.4); /*Черный с непрозрачностью */
}

/* Модальное содержание */
.modal-order .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  background: #f3f3f3;
  border-radius: 10px;
  width: 60%;
  max-width: 547px;
}
.modal-order .part-form2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
}
.modal-order .form-label2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

/* Кнопка закрытия */
.modal-order .close {
  color: #333333;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 12px;
}

.modal-order .close:hover,
.modal-order .close:focus {
  color: #000;
  text-decoration: none;
}

.modal-order .modal-body {
  padding: 0px 50px 38px 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal-order .modal-body h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: 0.3px;
  text-transform: uppercase;

  color: #333333;
  margin-bottom: 24px;
}
.btn-order {
  background: #e41434;
  border-radius: 10px;
  padding: 12px 24px;
  letter-spacing: 0.3px;
  margin-top: 12px;
  color: #ffffff;
}
.order-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.forgot-pass {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #e41434;
}
.reg-span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.forn-input {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  margin-top: 8px;
}
textarea {
  height: 84px; /* Высота поля в пикселах */
  resize: none; /* Запрещаем изменять размер */
}
.agree{
  font-weight: 400;
font-size: 9px;
line-height: 10px;
margin-top: 10px;
color: #999999;
}
.fw{
    width: 100%;
    margin-top: 3px;
}
.pi-bonus{
    flex-wrap: wrap;
}